/* ------------------------------------------------------------------------ */    
/* ------------------------------------------------------------------------ */
/* 2. Header V2 - Navigation */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */


#header-v2 #main
{
    background: #3e3e3e;
    padding: 10px 0;
    height: 109px;
}
    #header-v2 #main .row
    {
        border-bottom: 1px solid #606060;
        border-top: 1px solid #606060;
    }

#header-v2 .logo
{
margin-top: 33px;
}
    
#header-v2  .navigation ul {
    float: left;
    list-style: none;
    margin: 0;
    margin-top:0px;
}
    #header-v2 .navigation ul li {
        display: block;
        float: left;
        position: relative;
    }
        #header-v2 .navigation ul li a{
            
            height:87px;
            display: block;
            float: left;
            line-height: 87px;
            margin: 0 0 0px 30px;
            padding: 0px 5px;
            color:#ffffff;
            border-bottom: 3px solid transparent;
            text-decoration: none;
            font-size: 16px;
        }
        #header-v2 .navigation ul li a:hover{
            
            color: #3dc6fc;
            border-bottom: 3px solid #3aa4d4;
 
        }

    #header-v2-searchform input
    {
            background: #2e83aa;
            border: none;
    }
    #header-v2-searchform .glyphicon
    {
        color: white;
    }
#header-v2-s #header-v2-searchform 
{
    float: right;
    padding-top: 10px ;
    margin-right: 10px;
}